@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-image: url(../img/BATB-logo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
  color: gray;
}

body a:hover {
  color: darkblue;
  text-decoration: none;
}

body .header {
  height: 60vw;
  max-height: 200px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .header h1 {
  font-family: 'Mr Dafoe', cursive;
  font-size: 20vw;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  height: inherit;
  max-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  color: black;
  margin: 0px;
  padding: 1rem;
}

body .header section#carousel > figure > img {
  display: none;
  margin: 0;
}

body .header figure {
  margin: 0px;
}

body .header section#carousel > figure.visible > img {
  display: block;
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

body .navbar {
  background-color: turquoise;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 10px #272727;
          box-shadow: 0px 5px 10px #272727;
}

body .navbar-nav {
  text-align: center;
  font-weight: bolder;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navbar-nav .nav-item .nav-link {
  color: gray;
  margin-left: 1rem;
}

body .navbar-nav .nav-item .nav-link:hover {
  color: darkblue;
}

body .navbar .dropdown-menu {
  background-color: lightgray;
  text-align: center;
  width: 80vw;
  max-width: 250px;
}

body .page-content-container {
  height: 90vh;
}

body .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: turquoise;
  text-align: center;
  padding: 0.5rem;
  -webkit-box-shadow: -5px -5px 20px;
          box-shadow: -5px -5px 20px;
  padding-bottom: 6rem;
}

body .footer-container .phone-icon {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 50%;
  border: 3px solid gray;
}

body .footer-container .phone-icon:hover {
  border: 3px solid darkblue;
}

body .footer-container .arrow-icon {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 50%;
  border: 3px solid gray;
}

body .footer-container .arrow-icon:hover {
  border: 3px solid darkblue;
}

body .footer-container .social-icon-container {
  width: 80vw;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .footer-container p {
  margin: 0;
}

@media screen and (min-width: 426px) {
  body .header h1 {
    font-size: 10vw;
  }
}
/*# sourceMappingURL=style.css.map */