//            Links
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
//           Variables
$primary-color: turquoise;
$secondary-color: gray;
$hover-over: darkblue;

//         Configuration
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

//--------------Body----------------------------
body {
	background-image: url(../img/BATB-logo.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;

	a {
		text-decoration: none;
		color: $secondary-color;

		&:hover {
			color: $hover-over;
			text-decoration: none;
		}
	}

	//            Header
	.header {
		height: 60vw;
		max-height: 200px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;

		h1 {
			font-family: 'Mr Dafoe', cursive;
			font-size: 20vw;
			background-color: rgba(255, 255, 255, 0.5);
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 100vw;
			height: inherit;
			max-height: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;
			color: black;
			margin: 0px;
			padding: 1rem;
		}

		//     Image Carousal
		section#carousel > figure > img {
			display: none;
			margin: 0;
		}

		figure {
			margin: 0px;
		}

		section#carousel > figure.visible > img {
			display: block;
			position: relative;
			overflow: hidden;
			height: auto;
			width: 100vw;
			margin: 0px;
			padding: 0px;
		}
	}
	//          Navigation
	.navbar {
		background-color: $primary-color;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0px 5px 10px rgb(39, 39, 39);

		&-nav {
			text-align: center;
			font-weight: bolder;
			justify-content: center;
			align-items: center;

			.nav-item {
				.nav-link {
					color: gray;
					margin-left: 1rem;

					&:hover {
						color: $hover-over;
					}
				}
			}
		}

		.dropdown-menu {
			background-color: lightgray;
			text-align: center;
			width: 80vw;
			max-width: 250px;
		}
	}

	//           Content
	.page-content-container {
		height: 90vh;
	}
	//            Footer
	.footer-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: fit-content;
		background-color: $primary-color;
		text-align: center;
		padding: 0.5rem;
		box-shadow: -5px -5px 20px;
		padding-bottom: 6rem;

		.phone-icon {
			position: fixed;
			left: 1rem;
			bottom: 1rem;
			background-color: white;
			padding: 1rem;
			border-radius: 50%;
			border: 3px solid $secondary-color;

			&:hover {
				border: 3px solid $hover-over;
			}
		}

		.arrow-icon {
			position: fixed;
			right: 1rem;
			bottom: 1rem;
			background-color: white;
			padding: 1rem;
			border-radius: 50%;
			border: 3px solid $secondary-color;

			&:hover {
				border: 3px solid $hover-over;
			}
		}

		.social-icon-container {
			width: 80vw;
			max-width: 300px;
			display: flex;
			justify-content: space-evenly;
		}

		p {
			margin: 0;
		}
	}
	//         Media Queries
	@media screen and (min-width: 426px) {
		.header {
			h1 {
				font-size: 10vw;
			}
		}
	}

	@media screen and (min-width: 698px) {
	}
}
